@import "../../app.scss";

.store {
  display: flex;
  flex-direction: column;

  h4 {
    font-family: $font-family;
    font-weight: 600;
    font-size: 16px;
    line-height: 131.4%;
    margin: 2rem 0;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $secondary-color;
  }
}
