@import "../../app.scss";

.food {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
  padding: 1rem 0rem;
  & > div {
    margin: 0 0.5rem;
  }

  .food-checkout {
    display: none;
    .food-checkout__button {
      img {
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          transition: transform 0.3s;
        }
      }
    }
  }

  .food-menu {
    display: flex;
    flex-direction: row;

    a {
      color: inherit;
      text-decoration: none;
    }
    p {
      font-family: $font-family;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.05em;
      color: $secondary-color;
      margin: 0 0.5rem;
      cursor: pointer;

      &:hover {
        color: $primary-color-darken;
        transition: color 0.3s;
      }
    }
  }

  // 0-600
  @media only screen and (max-width: $breakpoint-phone) {
  }

  @media only screen and (min-width: 450px) {
    .food-menu {
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  //600-768
  @media only screen and (min-width: $breakpoint-phone) {
    .food-menu {
      p {
        font-size: 16px;
        line-height: 22px;
        margin: 0 0.8rem;
      }
    }
  }
  //768-992
  @media only screen and (min-width: $breakpoint-tablet) {
    .food-checkout {
      display: flex;

      .food-checkout__button {
        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
    .food-menu {
      p {
        font-size: 19px;
        line-height: 25px;
        margin: 0 0.5rem;
      }
    }
  }
  //992 - 1200
  @media only screen and (min-width: $breakpoint-desktop) {
    .food-checkout {
      .food-checkout__button {
        img {
          width: 2.7rem;
          height: 2.7rem;
        }
      }
    }
    .food-menu {
      p {
        font-size: 22px;
        line-height: 28px;
        margin: 0 0.8rem;
      }
    }
  }
  //1200-1600
  @media only screen and (min-width: $breakpoint-desktopXL) {
    .food-checkout {
      .food-checkout__button {
        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    .food-menu {
      p {
        margin: 0 1rem;
      }
    }
    //1600-...
    @media only screen and (min-width: $breakpoint-desktopXXL) {
    }
  }
}
